html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans',sans-serif; 
}

header{
    display: flex;
    padding: 20px;
    background: #A9C7E1;
    justify-content: space-between;
    align-items: center;
}

header a img{
    width: 160px;
} 

header nav a {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFF;
    text-decoration: none;
    margin-right: 25px;
}

header nav a:first-child {
    color: black;
}

#inicio{
    background: #A9C7E1;
    height: 90%;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    padding: 30px;
    background-image: url('./img/back.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size:contain;
}

#inicio h1 {
    margin: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    margin-bottom: 50px;
}

#inicio h2{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 50px;

}

#inicio button{
    width: 250px;
    background: #1A264E;
    font-style: normal;
    font-weight:400;
    font-size: 25px;
    color: #FFFFFF;
    border: 1px solid #1A264E;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 10px;
}

#beneficios{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 90px 10px 10px 10px;

}

.card{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

.card h3{
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
}

.card p{
    text-align: center;
    padding: 20px;
    font-size: 17px;
    margin: 0;
}

.card img {
    width: 130px;
}

#formulario{
    background-color: #A9C7E1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:90px;
}

#formulario h1{
    font-size: 64px;
}

#formulario form{
    display: flex;
    flex-direction: column;
}

#formulario form input, #formulario form textarea{
    margin-bottom: 80px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #000000;
    font-size: 28px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: bold;

}

#formulario form input::placeholder, #formulario form textarea::placeholder {
    color: #000000;
    font-weight: bold;
}

#formulario form button {
    width: 302px;
    background-color: #1A264E;
    border: 1px solid #1A264E;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    color:#FFFFFF;
    align-self: center;
    padding: 25px 10px;

}

#formulario form input:focus, #formulario form textarea:focus {
    outline: none;
}

/*Media Query Determina el breacpoint de ajuste segun el ancho o alto de la pantalla */
@media screen and (max-width:600px){

   header nav a {
       display: none; /*Esto oculta un elemento de html */
   }

   #inicio h1{
       text-align: center;
       font-size: 80px;
   }

   #inicio h2 {
       text-align: center;
       font-size: 30px;
   }

   #inicio {
        align-items: center;
        background-image: none;
   }

    .card{
       width:100%
   } 

   #formulario{
       flex-direction: column;
   }

   #formulario h1{
       margin-bottom: 90px;
   }

   /* #beneficios{
       flex-direction: column;
       align-items: center;
   }
   .card p{
       padding: 0px;
   }

   .card{
       margin: 0px;
   } */

} 

