html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;

}

main{
    box-sizing: border-box;
    padding: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fbecc2;
}

.country, .flags, .results {
    width:100%;
    display: flex;
    margin: 25px 0px;
}

.country{
    justify-content: center;
}

.country h2 {
    font-size: 60px;
    font-weight: bold;
}

.flags{
    justify-content: space-around;
}

.flags img{
    width:25%;
    border-radius: 20px;
    cursor: pointer;
}

.flags img:hover{
    -webkit-box-shadow: 2px 2px 22px 2px rgba(0,188,245,1);
    -moz-box-shadow: 2px 2px 22px 2px rgba(0,188,245,1);
    box-shadow: 2px 2px 22px 2px rgba(0,188,245,1);
}

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results h2{
    font-size: 40px;
}

.results span{
    font-size: 30px;
    margin-bottom: 20px;
}

