html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#navigation{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#buscador {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#futer {
    width: 100%;
    height: 10%;
    background-color: blue;
}

.header-link {
    text-decoration: none;
    color: gray;
    font-size: 11px;
    margin: 7px;
}

#menu {
    width: 12px;
    margin: 7px;
}

#perfil {
    width: 25px;
    border-radius: 50%;
    margin-right: 15px;
}


#search {
    width: 30%;
    border-radius: 20px;
    height: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px 15px;
    border: 1px solid #dfdfdf;
}

#search:focus {
    outline: none;
    box-shadow: 0px 1px 5px 0px #d8d8d8;
}