html,body{
    height: 100%;
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
}

main{
    box-sizing: border-box;
    width: 100%;
    padding: 50px 100px;
}

.form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputs{
    flex:33%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.inputs label{
    font-weight: bold;
    font-size: 20px;

}

.inputs input, .inputs select{
    font-size: 18px;
    border:none;
    border-bottom: 2px solid #2F50E3;
}

.inputs input:focus, .inputs select:focus{
   outline: none;
}

.inputs button{
    background-color: #2F50E3;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
}

.table{
    width: 100%;
    margin-top: 50px;
}

.row{
    width:100%;
    display:flex;
}

.head {
    background-color: #2F50E3;
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
}
.column{
    flex:25%;
    display:flex;
    border:1px solid #ececec;
    justify-content: center;
    padding: 20px 0px;
}



