html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.madre {
    height: 40%;
    width: 40%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.padre {
    height: 40%;
    width: 40%;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hijo {
    background-color: blue;
    width: 15%;
    height: 15%;
}

.hija {
    background-color: red;
    width: 15%;
    height: 15%;
}